@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
/* globals.css */
:root {
  --font-satoshi: 'Satoshi', sans-serif;
}

body {
  font-family: var(--font-satoshi);
}

.img-bg{
  background-image: url("/Clip path group.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}